## Python Data Types
The data types can be separated as Primitive Data types, Compound Data Types

### Primitive Data Type
There are 4 different type of primitive Data
    <br> - Integers
    <br> - Floats
    <br> - Booleans
    <br> - String

#### Integers
Integers are zero, positive or negative whole numbers without a fractional part and having unlimited precision

In [1]:
# Examples for Integers
22

22

In [2]:
# to check what type of data type can use 
type(10)

int

In [3]:
type(12)

int

#### Floats
The Values with decimal values

In [4]:
4.3

4.3

In [5]:
# to check what type of data type can use 
type(3.4)

float

In [6]:
type(7.0)

float

### Boolean

In [7]:
True

True

In [8]:
type(True)

bool

### Strings 
These are the textual Data

In [9]:
# to make it as string we need need to give the value between ""
"a"

'a'

In [10]:
type("A|")

str

In [13]:
# Empty string
""

''

#### Typecasting for Datatype
Here we can change the datatype to another data type

In [11]:
# casting a float value as integer
int(3.57)

3

In [12]:
# casting a string value as integer (only works if numeric value is present)
int("1")

1

In [14]:
# casting an integer value as float
float(4)

4.0

In [15]:
# Casting the string value to float (only works if numeric value is present)
float("4.333")

4.333

In [16]:
# Casting Boolean to integer
int(True)

1

In [17]:
# Casting Boolean to integer
int(False)

0

In [18]:
# Casting Boolean to Float
float(True)

1.0

In [19]:
# Casting Boolean to Float
float(False)

0.0

In [20]:
# Casting Integer to string
str(5.679)

'5.679'

In [21]:
# Casting Boolean to string
str(True)

'True'

In [23]:
# casting integer to Boolean (only applicable for 0 & 1)
bool(0)

False

In [24]:
# casting float to Boolean (only applicable for 0 & 1)
bool(1.00)

True

In [25]:
# converting empty string to Boolean
bool("")

False

### Variables

A Python Variables is  reserved memory location to store values. In other words, Variables in a python gives data to the computer for processing.

In [26]:
a=10
b=20
c=23

In [27]:
a

10

In [28]:
b

20

In [29]:
c

23

In [30]:
a + b

30

In [31]:
d = (a + b)/c
d

1.3043478260869565

### Compound Data Type
The Compound Data Types include List, Tuples Sets and Dictionary.

#### Lists

<li> Lists are used to store multiple items in a single variables
<li> Square Brackets are used.
<li> List are mutable (can be changed)
<li> Lists can contain any types of data together
<li> indexing starts from 0.
<li> list allows negative indexing.

In [32]:
# List
[2,3,4,57,8,99,9]

[2, 3, 4, 57, 8, 99, 9]

In [33]:
L1 = [2,3,5,6,7,8,9]
L1

[2, 3, 5, 6, 7, 8, 9]

In [34]:
# used check the data type
type(L1)

list

In [35]:
# Creating a nested list with several other datatypes
L2 = ["qqq",1,3,4.001,"",False]
L2

['qqq', 1, 3, 4.001, '', False]

### List Indexing & Slicing

Python use indexing method of Zero Indexing arrays, The first instance of array starts with Zero. Python also supports negative Indexing

In [36]:
# create a list
a =  [10,20,30, 50, 100]
a

[10, 20, 30, 50, 100]

In [37]:
# to get the first element in list
a[0]

10

In [38]:
# to get the last element of list
a[4]

100

In [39]:
# to get the negative index (Negative index start from last elements and goes reverse)
a[-1]

100

### Slicing
Using the slicing method we can get a specific portion of List or array

In [40]:
# to get list portion from 3 to last
a[2:]

[30, 50, 100]

In [41]:
# to get a range of between second to 3
a[1:3]

[20, 30]

#### Mutability in the list
Accessing the list and changing values for the elements

In [42]:
a = [2,3,4,5,6,8,8,9,10,11,23,34]

In [43]:
# indexing
a[-1]

34

In [45]:
# mutating the list
a[-1]=234
a

[2, 3, 4, 5, 6, 8, 8, 9, 10, 11, 23, 234]

##### List Operation

In [46]:
# length of list
a = [2,34,5,6,7,7]
len(a)

6

In [48]:
b = [2,34,56,3,1,234,34]
len(b)

7

In [49]:
# getting the total sum of list
sum(a)

61

In [50]:
sum(b)

364

In [51]:
# getting the minimum value in a list
min(a)

2

In [52]:
min(b)

1

In [54]:
# getting the maximum value in list
max(a)

34

In [55]:
max(b)

234

#### List class functions
function that are only available for lists