## Python Data Types
The data types can be separated as Primitive Data types, Compound Data Types

### Primitive Data Type
There are 4 different type of primitive Data
    <br> - Integers
    <br> - Floats
    <br> - Booleans
    <br> - String

#### Integers
Integers are zero, positive or negative whole numbers without a fractional part and having unlimited precision

In [1]:
# Examples for Integers
22

22

In [2]:
# to check what type of data type can use 
type(10)

int

In [3]:
type(12)

int

#### Floats
The Values with decimal values

In [4]:
4.3

4.3

In [5]:
# to check what type of data type can use 
type(3.4)

float

In [6]:
type(7.0)

float

### Boolean

In [7]:
True

True

In [8]:
type(True)

bool

### Strings 
These are the textual Data

In [9]:
# to make it as string we need need to give the value between ""
"a"

'a'

In [10]:
type("A|")

str

In [13]:
# Empty string
""

''

#### Typecasting for Datatype
Here we can change the datatype to another data type

In [11]:
# casting a float value as integer
int(3.57)

3

In [12]:
# casting a string value as integer (only works if numeric value is present)
int("1")

1

In [14]:
# casting an integer value as float
float(4)

4.0

In [15]:
# Casting the string value to float (only works if numeric value is present)
float("4.333")

4.333

In [16]:
# Casting Boolean to integer
int(True)

1

In [17]:
# Casting Boolean to integer
int(False)

0

In [18]:
# Casting Boolean to Float
float(True)

1.0

In [19]:
# Casting Boolean to Float
float(False)

0.0

In [20]:
# Casting Integer to string
str(5.679)

'5.679'

In [21]:
# Casting Boolean to string
str(True)

'True'

In [23]:
# casting integer to Boolean (only applicable for 0 & 1)
bool(0)

False